.view-booking-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .booking-heading {
    font-size: 20px;
    margin-top: 20px;
  }
  
  .booking-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .booking-item {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    cursor: pointer;
  }
  
  .booking-item:hover {
    background-color: #f2f2f2;
  }
  
  .pagination-container {
    margin-top: 10px;
  }
  
  .pagination-button {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px 10px;
    margin-right: 5px;
    cursor: pointer;
  }
  
  .pagination-button.active {
    background-color: #ccc;
  }
  
  .no-booking-message {
    margin-top: 10px;
    font-style: italic;
  }
  
  .selected-booking {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    width: 400px;
    background-color: #fff;
    z-index: 9999;
  }
  
  .selected-booking-heading {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .booking-info {
    display: block;
    margin-bottom: 5px;
  }
  
  .view-profile-button {
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 8px 16px;
    margin-top: 10px;
    cursor: pointer;
  }
  
  .view-profile-button:hover {
    background-color: #45a049;
  }
  
  .close-button {
    background-color: #f44336;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 8px 16px;
    float: right;
    cursor: pointer;
  }
  
  .close-button:hover {
    background-color: #d32f2f;
  }
  .confirmation-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
  }
  
  .confirmation-content {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
  }
  
  .confirmation-buttons {
    margin-top: 20px;
  }
  
  .confirmation-button {
    margin-right: 10px;
  }
  