.treatment-profile-page {
    padding: 20px;
  }
  
  .profile-card {
    background-color: #f5f5f5;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .profile-card h3 {
    color: #333;
  }
  
  .profile-card p {
    color: #777;
  }
  